<h2 align="center">Seja bem vindo ao</h2>
<h1 align="center">Aplicativo de Reconhecimento de Alimentos</h1>

<form action="/login" method="post">
    <input type="text" name="username" id="username"
    placeholder="Nome de usuário">
    <input type="password" name="password" id="password"
    placeholder="Senha">
    <button>Login</button>
</form>